.home{
    position: relative;
    min-height: 80vh;
    background: rgba(134, 125, 125, 0.5)url("../../assets/home-banner.jpg");
    background-blend-mode: darken; 
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    position: absolute;
    top: 50%;
    left: 10%;
}
.heading{
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.subHeading{
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.orderBtn{
    border: 0;
    outline: 0;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.orderBtn:hover{
    background: white;
    color: #000;
}



/*Responsive area*/


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
    html{
        font-size: 50%;
    }
    
    .heading{      
        font-size: 2rem;     
        margin-bottom: 1rem;
    }
    .subHeading{   
        font-size: 3rem;   
    }
    
 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  {
    html{
        font-size: 55%;
    }
   
    .content{
        position: absolute;
        top: 50%;
        left: 10%;
    }
    .heading{    
        font-size: 2.8rem;
       
    }
    .subHeading{
        color: white;
        font-size: 4rem;
      
    }
    .orderBtn{
        border: 0;
        outline: 0;
        font-size: 1.8rem;
      
    }
    
}

