.footer{
    min-height: 10vh;
    padding: 0 10rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size: 2rem;
    color: white;
}
.span{
    color: crimson;
}
.center{
    font-size: 2rem;
    color: white;
}
.socialMedia{}
.socialMedia a{
    font-size: 3rem;
    color: white;
    padding: 0 1rem;
    transition: 0.5s;
}
.socialMedia a:hover{
    color: crimson
}
/*Responsive area*/


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
    html{
        font-size: 50%;
    }
    
    .footer{
        min-height: 10vh;
        padding: 0 5rem;
       
    }
    .copyright{
        font-size: 1.5rem;
        
    }
    
    .center{
        font-size: 2rem;
 
    }

    .socialMedia a{
        font-size: 2rem;
        padding: 0 0.6rem;
        
    }
    
 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  {
    html{
        font-size: 55%;
    }
    .footer{
        padding: 0 8rem;  
    }
    .copyright{
        font-size: 1.8rem;    
    }
    .socialMedia a{
        font-size: 2.6rem;
        padding: 0 0.8rem;
        
    }
    
}